/* mobile-friendly layout */
body{
  display: flex;
  justify-content: center;
  background: url(../images/background.jpg);
}
@media only screen and (max-width: 768px) {
  .mainContainer{
    width: 350px;
    height: 400px;
    text-align: center;
  }
  .story-list {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 8px;
  }

  .story-thumbnail {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    cursor: pointer;
  }
  .story-title {
    
    font-size: 24px;
    font-weight: bold;
    color: rgb(62, 179, 159);
    margin: 10px;
  }

  .story-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .story-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .story-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .loading {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-button {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .nav-button.left {
    left: 5px;
    border: none;
    background: none;
    border-radius: 50%;
  }

  .nav-button.right {
    right: 5px;
    border: none;
    background: none;
    border-radius: 50%;
  }
}
/* screen view for larger screens */
/* @media only screen and (min-width: 769px) {
  .story-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }

  .story-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 20px;
  }

  .story-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    cursor: pointer;
  }

  .story-container {
    width: 80%;
    height: 80%;
  }

  .nav-button {
    border: none;
    background: none;
    border-radius: 50%;
  }
} */
